@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$main: 'Ubuntu';
$fancy: 'Lobster';
$grey: #222222;
$sec: #3c7494;

@mixin itagr {
    font-style: italic;
    font-weight: 300;
    color: $grey;
}

body {
    font-family: $main;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: rgba(255, 255, 255, 0.300);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2rem;
    padding: 1rem;

    .logo {
        font-family: $fancy;
        font-size: 2.8rem;
        line-height: 2rem;
    }

    .search {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 0.4rem;

        #location {
            font-size: 1.2rem;
            outline: none;
            border: none;
            background: none;
            border-bottom: 5px double black;
            padding-left: 1rem;
            width: 10rem;
            @include itagr();
        }

        #submit {
            cursor: pointer;
            border: none;
            width: 2.2rem;
            height: 2.2rem;
            background: url(./images/travel_explore.svg);
            background-repeat: no-repeat;
            background-size: 2.2rem;

            &:hover {
                filter: invert(99%) sepia(0%) saturate(1634%) hue-rotate(354deg) brightness(118%) contrast(100%);
                transition: 2000ms;
            }
        }
    }

    .toggleDeg {
        @extend .search;
        justify-content: flex-end;
        padding-right: 2rem;

        .degt {
            font-size: 1.2rem;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 45px;
            height: 24px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(0, 0, 0);
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 20px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }

        input:checked+.slider {
            background-color: $sec;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px $sec;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
        }
    }

    .link {
        display: grid;
        justify-content: end;
        align-items: end;
    }
}

#weatherContainer {
    padding: clamp(6rem, 10%, 12%) clamp(4rem, 15%, 25%) 3rem;
    display: flex;

    #w-conta {
        padding: 1rem;
        flex: 0 1 auto;
        background-color: rgba(255, 255, 255, 0.300);
        border-radius: 2rem 0 0 2rem;

        .w-img {
            height: 125px;
            width: 125px;
        }

        .w-info {
            font-size: 2.5rem;
        }

        .w-infod {
            padding-left: 1rem;
            @include itagr();
        }
    }

    #w-contb {
        width: clamp(150px, 20%, 250px);
        padding: 1rem;
        padding-top: 30px;
        background-color: rgba(255, 255, 255, 0.300);
        border-radius: 0 2rem 2rem 0;

        .w-location {
            font-size: 2rem;
        }

        .w-tempnow {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;

            img {
                height: 2.5rem;
                width: 2.5rem;
            }

            .wtemp {
                padding: 0.5rem;
                margin: 0;
                font-size: 1.8rem;
                flex: 1 0 auto;
            }
        }

        .w-tempfeel {
            @include itagr();
        }

        .w-humidity {
            @extend .w-tempnow;

            img {
                height: 2rem;
                width: 2rem;
            }

            .whumid {
                padding: 0.5rem;
                margin: 0;
            }
        }

        .w-datetime {
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
}

#forecastContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;

    .card {
        height: fit-content;

        &:hover {
            border-radius: 10rem 0.5rem;
            transform: scale(1.3) translateY(-100px);
            height: 320px;
            background-color: $sec;
            transition: all 2000ms ease-in-out;

            fhumid {
                opacity: 1;
                transition: 3000ms;
            }
        }
    }

    fcard {
        padding: 1rem 2rem 2rem;
        background-color: rgba(255, 255, 255, 0.300);
        border-radius: 4.5rem 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        fimg {
            display: flex;
            height: 60px;
            width: 60px;
        }

        fday {
            @extend fdate;
        }

        fdate {
            font-size: 1.2rem;
            font-weight: 500;
        }

        fwhem {
            font-size: 1.1rem;
            font-weight: 300;
        }

        fwhed {
            @include itagr();
            margin-bottom: 1rem;
        }

        ftemp {
            display: flex;
            align-items: center;

            img {
                width: 2.2rem;
                height: 2.2rem;
            }

            ftempn {
                font-size: 1.4rem;
            }
        }

        ftempm {
            @include itagr();
        }

        fhumid {
            display: flex;
            align-items: center;
            opacity: 0;

            img {
                height: 32px;
                width: 32px;
            }
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}